@media (max-width:865px){
    .footer_container .footer_box1{
        /* padding: 1rem; */
        /* border: 1px solid white; */
        flex-basis: 50%;
    }
    .footer_container .footer_box2{
        /* padding: 1rem; */
        /* border: 1px solid white; */
        flex-basis: 25%;
    }
    .footer_container .footer_box3{
        /* padding: 1rem; */
        /* border: 1px solid white; */
        flex-basis: 25%;
    }
}

@media (max-width: 768px){
    .top_navbar{
        display: none;
    }
    .mobile_header{
        display: block;
    }
    .bottom_nav_container{
        display: none;
    }
}

@media (max-width:692px){
    .footer_container .footer_box1{
        flex-basis: 100%;
    }
    .footer_container .footer_box2{
        flex-basis: 50%;
    }
    .footer_container .footer_box3{
        flex-basis: 50%;
    }
    .hero_container{
        margin-bottom: 27.5rem;
        /* border: 1px solid red; */
    }
}

@media (max-width: 619px){
    .h1heading_container h1{
        font-size: 9vw;
        line-height: 8.5vw;
    }
}

@media (max-width:408px){
    .find_design_container>h2 {
        font-size: 9vw;
        line-height: 8vw;
    }
}